# 操作系统
.DS_Store
Thumbs.db
Desktop.ini

# VitePress 的缓存与打包目录
.vitepress/cache/
.vitepress/dist/

# 依赖
node_modules
vite.config.ts.timestamp-*

# 其它缓存与日志
.cache
.temp
.output
*.local
*.log
*.vsix
_temp

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache
